* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.app {
  padding: 2%;
  background-color: #e3f1e6;
  height: 100vh;
  margin: -1%;
}

.all-zones-control {
  display: flex;
  justify-content: center;
  margin: 4%;
}

.zones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.zone {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-top: .5%;
  margin-bottom: 1%;
  padding: 1.5%;
}

.zone-name {
  margin: 2% auto;
  font-size: 1.6em;
  font-weight: 300;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer-start-button {
  height: 4.8vh;
  width: 5.5rem;
  margin-right: 1%;
  font-size: 1.6em;
  font-weight: 300;
}

.timer-set-time {
  border: none;
  background: none;
 }

.timer-countdown-display {
  height: 4.8vh;
  font-size: 2.4em;
  text-align: center;
  border: 1px solid gray;
}

.hidden {
  display: none;
}